[Desktop Entry]
Categories=System;FileManager;Utility;ConsoleOnly;
Comment=Vim-like ncurses based file manager
Comment[ca]=Gestor de fitxers semblant a Vim basat en ncurses
Comment[cs]=Správce souborů podobný Vim, podle ncurses
Comment[es]=Administrador de archivos basado en ncurses tipo Vim
Comment[id]=Vim seperti ncurses berbasis pengelola berkas
Comment[it]=File manager basato su ncurses simile a Vim
Comment[ja]=Vim に似た ncurses ベースのファイルマネージャ
Comment[nl]=Vim-achtig op ncurses gebaseerde bestandsbeheerder
Comment[pt_BR]=Gerenciador de arquivos com base no ncurses tipo Vim
Comment[ru]=Файловый менеджер на базе ncurses в стиле Vim
Comment[sk]=Správca súborov podobný Vim založený na ncurses
Comment[uk]=Vim-подібний менеджер файлів на базі ncurses
Comment[zh_CN]=像 Vim 的基于 ncurses 的文件管理器
Exec=vifm %F
GenericName=File Manager
GenericName[ar]=مدير الملفات
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[es]=Administrador de archivos
GenericName[fi]=Tiedostonhallinta
GenericName[id]=Pengelola Berkas
GenericName[it]=Gestore di file
GenericName[ja]=ファイルマネージャ
GenericName[lt]=Rinkmenų tvarkytuvė
GenericName[nl]=Bestandsbeheerder
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[ru]=Файловый менеджер
GenericName[sk]=Správca súborov
GenericName[sv]=Filhanterare
GenericName[uk]=Менеджер файлів
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理器
Icon=vifm
Name=Vifm
Name[ca]=Vifm
Name[cs]=Vifm
Name[es]=Vifm
Name[id]=Vifm
Name[it]=Vifm
Name[ja]=Vifm
Name[lt]=Vifm
Name[nl]=Vifm
Name[pt_BR]=Vifm
Name[ru]=Vifm
Name[sk]=Vifm
Name[sv]=Vifm
Name[uk]=Vifm
Name[zh_CN]=Vifm
Terminal=true
TryExec=vifm
Type=Application
Keywords=File;Directory;Browse;
Keywords[ca]=Fitxer;Directori;Navega;
Keywords[cs]=Soubor;Adresář;Procházet;
Keywords[fi]=File;Directory;Browse;Tiedosto;Hakemisto;Kansio;Selaa;
Keywords[id]=Berkas;Direktori;Ramban;
Keywords[it]=File;Directory;Navigazione;
Keywords[ja]=ファイル; ディレクトリ; 参照;
Keywords[pt_BR]=Arquivo;Diretório;Navegar;
Keywords[ru]=Файл;Каталог;Обзор;
Keywords[sk]=Súbor;Adresár;Prehliadať;
Keywords[zh_CN]=File;Directory;Browse;文件;目录;文件夹;浏览;
MimeType=inode/directory;
